.login-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.login-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form-container {
    flex: 1;
    max-width: 400px;
    text-align: left;
    padding: 20px;
}

.login-form-container h1 {
    font-size: 2.5rem;
    color: #00796b;
    margin-bottom: 20px;
}

.login-form-container p {
    font-size: 1.2rem;
    color: #00796b;
    margin-bottom: 20px;
}

.login-form-container label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #00796b;
}

.login-form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.login-options-container a {
    color: #00796b;
    text-decoration: none;
}

.login-options-container a:hover {
    text-decoration: underline;
}

.login-button-container {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 30px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button-container:hover {
    background-color: #005f56;
}

.login-page-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    margin: 5% 10%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
        padding: 20px;
    }

    .login-image-container {
        display: none;
    }

    .login-form-container {
        width: 100%;
        padding: 10px;
    }
}